.toggler {
    display: inline-flex;
    cursor: pointer;
    transition: transform 250ms;
}

.button {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color-blue);
    padding: 11px 14px;
    border-radius: 26px;
    cursor: pointer;

    svg {
        transition: transform 250ms;
    }

    span {
        display: inline-block;
        color: var(--color-white);
        font-size: 20px;
        line-height: 25px;
        width: 100px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 820px) {
    .toggler {
        &:hover {
            transform: scale(1.1);
        }
    }
    .button {
        &:hover {
            svg {
                transform: scale(1.1);
            }
        }
    }
}