.card {
    position: relative;
    width: 170px;
    background-color: var(--color-white);
    box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
    transition: transform 250ms;
}

.card:hover {
    background-color: var(--color-white);
    transform: translateY(-5px);

    .card__img {
        filter: blur(2px);
    }

    .card__info {
        transform: scale(1.02);
        border: 1px solid var(--color-blue);
    }
}

.card__info {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px 10px;
    background-color: rgba(255,255,255, .8);
    transition: transform 250ms;
}

.card:hover .card__info {
    display: flex;
}

.card__name {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-dark-blue);
}

.card__genre {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: var(--color-dark-blue);
}

.card__favorite {
    position: absolute;
    top: -17px;
    right: -11px;
}