.card {
    position: relative;
    width: 170px;
    background-color: var(--color-white);
    box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
    transition: transform 250ms ease;
}

.card:hover {
    background-color: var(--color-white);
    transform: translateY(-5px);

    .card__info {
        opacity: 1;
        transform: scale(1.02);
    }

    .card__name, .card__genre {
        transform: translateX(0);
    }

    .card__img {
        filter: blur(2px) grayscale(1);
    }

    .card__favorite {
        transform: rotate(0);
    }
}

.card__info {
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255,255,255, .8);
    transition: transform .3s ease;
}

.card__text {
    overflow: hidden;
}

.card__name {
    font-size: 18px;
    font-weight: bold;
}

.card__genre {
    margin-bottom: 8px;
}

.card__name, .card__genre {
    display: block;
    text-decoration: none;
    color: var(--color-dark-blue);
    transform: translateX(-100px);
    transition: transform 250ms ease;
} 

.card__favorite {
    position: absolute;
    top: -17px;
    right: -11px;
    transform: rotate(-45deg);
    transition: transform 250ms ease;
}