.button {
    display: inline-flex;
    align-items: center;
    background-color: var(--color-blue);
    height: 72px;
    padding: 11px 42px;
    border-radius: 26px;
    cursor: pointer;
    border: none;
    transition: background-color .2s ease;

    &:disabled {
        background-color: var(--color-silver);
    }

    span {
        display: inline-block;
        color: var(--color-white);
        font-size: 36px;
        font-weight: bold;
        line-height: 25px;
    }
}

@media screen and (min-width: 820px) {
    .button {
        &:hover {
            background-color: var(--color-yellow)
        }
    }
}

@media screen and (max-width: 590px) {
    .button {
        span {
            font-size: 24px;
        }
    }
}