/***************************************************
VARIABLES
/***************************************************/
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-light-gray: #F5F5F5;
  --color-silver: #C0C0C0;
  --color-light-blue: #D8F1FF;
  --color-blue: #9AD1F0;
  --color-dark-blue: #0B7AB8;
  --color-yellow: #FFCD4D;
  --color-orange: #D2691E;
  --color-red: #FF7F7F;

  --button-border-radius: 16px;
  --border-color-transition: border .5s ease;

  --font-family-main: 'Josefin Sans', sans-serif;
  --desktop-content-width: 764px;
  --tablet-content-width: 550px;
  --mobile-content-width: 360px;
}

/***************************************************
GENERAL
/***************************************************/
*, *::after, *::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
  overflow-y: scroll;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: var(--desktop-content-width);
  margin: 0 auto 80px auto;
}

img {
  display: block;
}

@media screen and (max-width: 820px) {
  .content {
    width: var(--tablet-content-width);
  }
}

@media screen and (max-width: 590px) {
  .content {
    width: var(--mobile-content-width);
  }
}