/***************************************************
VARIABLES
/***************************************************/
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #0B7AB8;
  --color-light-blue: #D8F1FF;

  --font-family-main: 'Josefin Sans', sans-serif;
  --content-width: 764px;
}

/***************************************************
GENERAL
/***************************************************/
*, *:after, *:before {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  font-family: var(--font-family-main);
}
.content {
  display: flex;
  flex-wrap: wrap;
  width: var(--content-width);
  margin: 0 auto 80px auto;
}
img {
  display: block;
}