.wrapper {
    width: var(--content-width);
    padding: 45px 0 30px;
    margin: auto
}

.filter {
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        margin-right: 10px;

        a {
            text-transform: capitalize;
            text-decoration: none;
            color: var(--color-dark-blue);

            &:hover {
                color: var(--color-blue);
            }
        }

        :global(a.active) {
            color: var(--color-black);
        }
    }
}