.header {
    padding: 18px;
    background-color: var(--color-light-blue);
    margin-bottom: 50px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: var(--desktop-content-width);
        margin: auto;
        padding: 0;
    }
}

@media screen and (max-width: 820px) {
    .header {
        &__container {
            width: var(--tablet-content-width);
        }
    }
  }

@media screen and (max-width: 590px) {
    .header {
        margin-bottom: 30px;

        &__container {
            width: var(--mobile-content-width);
        }
    }
  }