.header {
    padding: 18px;
    background-color: var(--color-light-blue);
    margin-bottom: 50px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: var(--content-width);
        margin: auto;
        padding: 0;
    }
}