.game__main {
    display: flex;
    margin: 30px 0;
}

.game__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.game__controls {
    display: flex;
    width: 50%;
}

.game__name {
    color: var(--color-dark-blue);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.game__genre {
    color: var(--color-blue);
    text-decoration: none;
}

.game__gameplay {
    display: flex;
    align-items: flex-start;
}

.game__text_top {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.game__text_bottom {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 25px;
}

.game__text_bottom p {
    margin-top: 0;
}

.game__favorite {
    display: inline-flex;
    align-items: center;
    background-color: var(--color-blue);
    padding: 11px;
    border-radius: 26px;
}

.game__favorite span {
    display: inline-block;
    color: var(--color-white);
    font-size: 20px;
    width: 175px;
    margin-left: 20px;
}