.game {
    max-width: 100%;

    &__main {
        display: flex;
        margin: 30px 0;
    }

    &__image {
        border-radius: 20px;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__controls {
        display: flex;
        margin-left: auto;
    }

    &__play {
        margin-left: 10px;
    }

    &__name {
        color: var(--color-dark-blue);
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__genre {
        color: var(--color-blue);
        text-decoration: none;
    }

    &__gameplay {
        display: flex;
        align-items: flex-start;
    }

    &__text {
        &_top {
            font-size: 18px;
            line-height: 1.2;
            margin-bottom: 25px;
        }
        &_bottom {
            font-size: 14px;
            line-height: 1.4;
            margin-left: 25px;
            p {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .game {
        &__main {
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 10px;
        }

        &__controls {
            flex-direction: column;
            align-items: flex-end;
            margin: 0;
        }

        &__favorite {
            margin-bottom: 10px;
        }

        &__title {
            justify-content: center;
        }
    }
  }

@media screen and (max-width: 590px) {
    .game {
        &__main {
            flex-direction: column;
        }

        &__controls {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;
        }

        &__favorite {
            margin-bottom: 0;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__gameplay {
            flex-direction: column;
        }

        &__text {
            &_bottom {
                margin: 20px 0 0;
            }
        }
    }
  }